<mat-toolbar class="navbar">
  <button *ngIf="isLoggedIn" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">McTylor Website</span>
  <span class="example-spacer"></span>
  <button *ngIf="isLoggedIn" mat-icon-button matTooltip="Log out" (click)="logout()">
    <mat-icon class="icon-color">account_circle</mat-icon>
  </button> 
</mat-toolbar>
<mat-drawer-container class="example-container" autosize [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="navbar-list">
    <button class="navbar-button" mat-button (click)="openPhotos(); drawer.toggle()">
      <mat-icon class="icon-color">image</mat-icon>
      <span>Photos</span>
    </button>
    <button class="navbar-button" mat-button (click)="openArchiwum(); drawer.toggle()">
      <mat-icon class="icon-color">archive</mat-icon>
      <span>Archive</span>
    </button>
    <button class="navbar-button" mat-button (click)="openCategories(); drawer.toggle()">
      <mat-icon class="icon-color">list</mat-icon>
      <span>Categories</span>
    </button>
    
  </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet>
    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
