<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 50%;">
      <ion-col size="4">
        <img [src]="'assets/icon/image-svgrepo-com.svg'">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="width:100%" (click)="selfie()">Take picutre</ion-button>
        <ion-nav-link router-direction="forward" [component]="component">
          
        </ion-nav-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

