<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Author info</mat-card-title>
        <mat-card-subtitle>This website was created by Milena Rabenda as part of her engineering project</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite</mat-icon>
        <mat-icon class="icon-color" style="margin: 10px;">favorite_outline</mat-icon>
    </mat-card-content>
</mat-card>
