<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Categories</mat-card-title>
        <mat-card-subtitle>You can modify categories here</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="div-spinner" *ngIf="isLoading">
            <mat-spinner diameter="100" strokeWidth="10"></mat-spinner>
        </div>
        <div *ngIf="!isLoading">
            <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="deleteCategory(element.id)">
                        <mat-icon style="color:#c45fa0; transform: scale(1.3)">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>   
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons
                        aria-label="Select page of categories">
            </mat-paginator>
        <button mat-button style="background-color: #c45fa0; color:white" (click)="toggle()">Add Category</button>
    </mat-card-content>
</mat-card>
<mat-card class="card" @myInsertRemoveTrigger *ngIf="isShown">
    <mat-card-content class="category-card">
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput [formControl]="nameFormControl" placeholder="Ex. pat@example.com">
            </mat-form-field>
        </form>
        <button mat-button [disabled]="nameFormControl.invalid" style="background-color: #c45fa0; color:white" (click)="insertCategory()">Insert</button>
    </mat-card-content>
</mat-card>