<ion-content>
  <ion-grid size=[fixed] style="height:100%">
    <ion-row class="ion-justify-content-center" style="margin-top:20px">
      <ion-col size="auto">
        <p class="title">Welcome to McTylor</p>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:15px" class="ion-justify-content-center">
      <ion-col size="2" style="margin-right:10px">
        <img [src]="'assets/icon/camera-svgrepo-com.svg'" style="height: auto; width: auto">
      </ion-col>
      <ion-col>
        <div class="caption">Capture Moments</div>
        <div class="description" style="margin-top: 5px">Easily open your device's native camera to take pictures within the app.</div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:20px">
      <ion-col size="2" style="margin-right:10px">
        <img [src]="'assets/icon/picture-svgrepo-com.svg'">
      </ion-col>
      <ion-col>
        <div class="caption">Automatic location tagging</div>
        <div class="description" style="margin-top: 5px">Seamlessly attaches your current location to each photo you take, providing context of where each moment was captured.</div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:20px">
      <ion-col size="2" style="margin-right:10px">
        <img [src]="'assets/icon/information-svgrepo-com.svg'">
      </ion-col>
      <ion-col>
        <div class="caption">Commenting feature</div>
        <div class="description" style="margin-top: 5px">Share your thoughts by adding comments to your photos, creating a personalized narrative for each picture.</div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:20px">
      <ion-col size="2" style="margin-right:10px">
        <img [src]="'assets/icon/user-svgrepo-com.svg'">
      </ion-col>
      <ion-col>
        <div class="caption">Author</div>
        <div class="description" style="margin-top: 5px">The work was carried out as part of an engineering project by Milena Rabenda.</div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-end" style="height:30%;">
      <ion-col>
        <ion-nav-link router-direction="forward" [component]="component">
          <ion-button style="width:100%">Get started</ion-button>
        </ion-nav-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

