<ion-content >
  <ion-grid style="height: 100%;">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <img [src]="picture">
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 5px; padding: 5px; ">
      <ion-col style="display: flex;
      flex-direction: row; width: 100%; justify-content: flex-start;
    align-items: center; font-size: 12px;">
        <img  style="height:15px; width:15px; margin-right: 5px"[src]="'assets/icon/pin-svgrepo-com.svg'">
        <div *ngIf="position" style="color: #797979">{{position}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="categories">
      <ion-col>
        <ion-list class="ion-select">
          <ion-item style="background: #32393E;">
            <ion-select style="background: #32393E;" aria-label="Fruit" interface="action-sheet" placeholder="Select Category" [(ngModel)]="selectedCategory">
                <ion-select-option *ngFor="let category of categories" [value]="category">{{ category.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="ion-textarea" label="Comment" label-placement="floating" fill="outline" placeholder="Enter comment" [(ngModel)]="comment" ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-nav-link router-direction="forward" [component]="component">
          <ion-button style="width:100%" (click)="send()">Send</ion-button>
        </ion-nav-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

